altgraph==0.17
auto-py-to-exe==2.10.0
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.14.6
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
Eel==0.12.4
Flask==1.1.4
Flask-JWT==0.3.2
Flask-JWT-Extended==4.1.0
Flask-SQLAlchemy==2.5.1
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
MouseInfo==0.1.3
numpy==1.21.2
opencv-python==4.5.3.56
passlib==1.7.4
pefile==2021.5.24
pycparser==2.20
PyGetWindow==0.0.9
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PyJWT==2.1.0
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
python-dotenv==0.19.0
PyTweening==1.0.3
pywin32-ctypes==0.2.0
SQLAlchemy==1.4.22
Werkzeug==1.0.1
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
